* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* fast page loading */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    justify-content: end;
    height: 100vh;
    overflow-y: auto;
}

#down {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #333;
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    margin-left: 15px;
    border-radius: 20%;
    width: 3.5%;
    height: 80%;
}












.calculatorpage {
    padding: 50px;
    position: relative;
    bottom: 10em;
    left: 40rem;
    border: 2px solid black;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
    height: auto;
}

/* Input Box */
#inputbox {
    font-size: 2em;
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    border: solid 2px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}



/* Buttons Row */
.calculatorpage div {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 25px;
    margin-bottom: 10px;
}

/* Buttons Style */
.calculatorpage button {
    width: 70px;
    height: 70px;
    font-size: 18px;
    color: #fff;
    background: rgba(4, 4, 4, 0.7);
    cursor: pointer;
    /* border: solid 1px rgba(255, 255, 255, 0.2); */
    border-radius: 15px;
    /* text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.5); */
}

.calculatorpage button:hover {
    background-color: #f67c14;
    color: #fff;
}

/* Special Buttons */
.calculatorpage .ac,
.calculatorpage .del {
    font-size: 16px;
}

.calculatorpage .equalBtn {
    background: #f67c14;
    color: #fff;
}

.calculatorpage .operator {
    color: #f67c14;
}













#clock {
    position: relative;
    bottom: 10em;
    left: 35rem;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 10vh;
    background-color: rgb(115, 115, 184);
}

#Divclock {
    display: flex;
    align-items: center;
    justify-content: center;
}














#mainDiv {
    padding: 50px;
    margin-left: 13%;
    background-color: rgb(253, 253, 251);
    width: 75vw;
    height: 30vh;
}

h1 {
    color: #4338ca;
}

#app {
    color: #6366f1;
}

#btnForEditor {
    position: relative;
    bottom: 9em;
    left: 3rem;
    width: 6vw;
    height: 6vh;
    background-color: rgb(127, 255, 0.6);
    margin-left: 80%;
    margin-top: 2%;
    margin-top: 25%; 
}


#menu {
    /* background-color: #b75a5a; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
    height: 7vh;

}
.menuitem {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #6366f1;
    border-radius: 20px;
}

/* second edit */

#newTaskBtn {
    position: absolute;
    top: 9em;
    left: 30em;
    display: none;
    background-color: rgb(127, 255, 0.6);
    width: 50vw;
    height: 60vh;
    overflow-y: auto;
    border-radius: 15px;
}

input[type="text"] {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    width: 100%;
    height: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    resize: vertical;
}

#newTaskBtn {
    padding: 40px;
    /* position: relative;
    bottom: 10em;
    left: 35rem; */
}

#optionchaanje {
    margin: 20px;
    width: 9em;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

#addbtn {
    margin-left: 35em;
    /* background-color: aqua; */
    gap: 30px;
    width: 15vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

#save{
    width: 30%;
    height: 90%;
}

#cut{
    width: 30%;
    height: 90%;
}



